@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

header {
  padding: 20px 40px;
  background-color: #c2c2c2;
  h1 {
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    font-family: "Roboto Slab";
  }
}
